body{
    font-family:Helvetica,Arial,sans-serif;
}
#search-box{
    width:320px;
    margin:10px auto;
    border:1px solid #ccc;
    background:#fff;
    
    padding:30px;
    
    -moz-box-shadow:0 0 20px #000;
    -webkit-box-shadow:0 0 20px #000;
    box-shadow:0 0 20px #000;
}

h1{
    font-size:150%;
    border-bottom: 1px solid #ddd;
    margin-bottom:10px;
    overflow:auto;
}

#fb-login{
    float:right;
    top:-3px;
    position:relative;
}

.msg{
    background:#EDEFF4;
    text-align:center;
    padding:5px;
    margin:5px 0;
    border:1px solid #A1B6E4;
    color:#3B5998;
    height:32px;
    position:relative;
}

.msg img{
    position:absolute;
    right:45px;
    top:8px;
}

.box .search{
    width:312px;
    border:2px solid #ccc;
    font-size:120%;
    line-height:1.2em;
    padding:2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.box, .box li{list-style-type:none;}

.box .results{
    border:1px solid #ddd;
    height:245px;
    overflow-y:auto;
    margin:5px auto;
    width:318px;
}

.box a{
    text-decoration:none;
    color:#3B5998;
    display:block;    
    height:36px;
    padding:2px;
    border-bottom:1px solid #ddd;
    /*width:312px;*/
}

.box a span{
    line-height:36px;
    vertical-align:middle;
    padding-left:5px;
}

.box em{
    font-style:normal;
    font-weight:bolder;
}
.box a:hover, .box a:focus{
    color:#fff;
    background:#637BAD;
}

.box img{
    border:1px solid #ddd;
    float:left;
    margin:2px;
    width:32px;
    height:32px;
}